@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap");
.logo a {
    color: aliceblue;
    font-size: 3.7rem;
    font-family: "Montserrat", sans-serif;
  }
  .logo a span {
    color: aqua;
    font-size: 3.7rem;
    font-family: "Montserrat", sans-serif;
  }
.addres{
  margin-bottom: 5rem;
  margin: 0 15rem;
}
.part1{
    width: 60rem;
    margin: 6rem auto;
    text-align: center;
    border-bottom: 2px solid aqua;
}
.part1 h1{
    color: black;
    font-size: 2rem;
}
.addres h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .7rem;
}
.addres h2 span{
    color: aqua;
}
.addres i{
    font-size: 2.5rem;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.flex h2{
    font-size: 1.8rem;
}
@media screen and (max-width: 900px){
    .cart_header {
        height: 30vh;
      }
}
@media screen and (max-width: 768px) {
    .part1{
        width: 30rem;
        margin: 6rem auto;
        text-align: center;
        border-bottom: 2px solid aqua;
    }
    .part1 h1{
        color: black;
        font-size: 2rem;
    }
    .cart1 {
        padding: .1rem 9%;
      }
      .cart_header {
        height: 40vh;
      }
}
@media screen and (max-width: 700px){
    .cart_header {
        height: 80vh;
      }
}
@media screen and (max-width: 600px){
    .cart_header {
        height: 40vh;
      }
}
@media screen and (max-width: 500px) {
    .part1{
        width: 30rem;
        margin: 6rem auto;
        text-align: center;
        align-items: center;
        border-bottom: 2px solid aqua;
    }
    .addres{
        margin-bottom: 5rem;
        margin: 0 8rem;
      }
      .cart_header {
        height: 40vh;
      }
}
@media screen and (max-width: 400px) {
    .part1{
        width: 20rem;
        margin: 6rem auto;
        text-align: center;
        align-items: center;
        border-bottom: 2px solid aqua;
    }
    .part1 h1{
        color: black;
        font-size: 1.6rem;
    }
    .addres{
        margin-bottom: 5rem;
        margin: 0 .6rem;
      }
      .cart_header {
        height: 50vh;
      }
}
